@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #E5E5E5;
}
.cabecalho1{
    height: 69px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 37px;
}
.cabecalho1 p{
    color: white;
}
.conteudo1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center

}
.cabecalho2 p{
    color: white;
}
.conteudo2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center

}
.texto{
    display: flex;
    justify-content: center ;
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    
}
.inserir1, 
.inserir2{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 21px 16px 6px 16px;
}

.indicacao {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
}
.indicacao2{
    display: flex;
    justify-content: space-between;
}

.texto2 {
    width: 564px;
    height: 46px;
    margin-bottom: 15px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.botao1{
    margin-top: 50px;
    border-radius: 15px;
    width: 370px;
    height: 54px;
    background: #EC362D;
    border: 1px solid #EC362D;
}
.imagem {
    width: 500px;
    height: 266px;
    position: relative;
}
.textoImagem{
    position: absolute;
}

@media (max-width: 600px) {
    .texto2{
        transition: .5s;
        width: 341px;
    }
    .botao1{
        transition: .5s;
        width: 324px;
    }
}